/nbproject/private/
/nbproject/old/
/nbproject/template/
/nbproject/json/
/nbproject/check/
/nbproject/中間データ/
/nbproject/分析結果/

*.zip
*.json
*.csv
*.xlsx
/build/
/dist/
*.db
*.gz
*.bz2
project.properties