/nbproject/private/
/nbproject/old/
/nbproject/log/
/nbproject/車両テンプレート/
/nbproject/車両テンプレートエラー/
/nbproject/車両テンプレートエラー分離/
/nbproject/check/
/nbproject/中間データ/
/nbproject/分析結果/

*.json
*.csv
*.xlsx
/build/
/dist/
*.zip
*.db
*.gz
*.bz2
*.7z
*.tar
project.properties