/nbproject/private/
/nbproject/old/
/nbproject/車両テンプレート/
/nbproject/車両テンプレートエラー/
/nbproject/車両テンプレートエラー分離/
/nbproject/check/
/nbproject/中間データ/
/nbproject/分析結果/
/nbproject/data/

*.json
*.csv
*.xlsx
/build/
/dist/
*.tmp
*.zip
*.db
*.gz
*.bz2
*.7z
*.tar
*.log
*.png
project.properties